%header.navbar.navbar-fixed-top.navbar-gitlab
  .navbar-inner
    .container
      %div.app_logo
        = link_to root_path, class: "home has_bottom_tooltip", title: "Dashboard" do
          = brand_header_logo
      %h1.title= title

      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %i.fa.fa-bars

      .navbar-collapse.collapse
        %ul.nav.navbar-nav
          %li.hidden-sm.hidden-xs
            = render "layouts/search"
          %li.visible-sm.visible-xs
            = link_to search_path, title: "Search", class: 'has_bottom_tooltip', 'data-original-title' => 'Search area' do
              %i.fa.fa-search
          %li
            = link_to explore_root_path, title: "Explore", class: 'has_bottom_tooltip', 'data-original-title' => 'Public area' do
              %i.fa.fa-globe
          - if current_user.can_create_project?
            %li
              = link_to new_project_path, title: "New project", class: 'has_bottom_tooltip', 'data-original-title' => 'New project'  do
                %i.fa.fa-plus
          %li
            = link_to projects_dashboard_path, title: 'My Projects', class: 'has_bottom_tooltip', 'data-original-title' => 'My projects'  do
              %i.fa.fa-cube
          %li
            = link_to assigned_issues_dashboard_path, title: 'Issues', class: 'has_bottom_tooltip', 'data-original-title' => 'Issues' do
              %i.fa.fa-exclamation-circle
              %span
                %span.count= current_user.assigned_issues.opened.count
          %li
            = link_to assigned_mrs_dashboard_path, title: 'Merge Requests', class: 'has_bottom_tooltip', 'data-original-title' => 'Merge Requests' do
              %i.fa.fa-tasks
              %span
                %span.count= current_user.assigned_merge_requests.opened.count
          %li
            = link_to profile_path, title: "Profile settings", class: 'has_bottom_tooltip', 'data-original-title' => 'Profile settings"'  do
              %i.fa.fa-user
          - if current_user.is_admin?
            %li
              = link_to admin_root_path, title: "Admin area", class: 'has_bottom_tooltip', 'data-original-title' => 'Admin area' do
                %i.fa.fa-cogs
          %li
            = link_to help_path, title: 'Help', class: 'has_bottom_tooltip',
               'data-original-title' => 'Help'  do
              %i.fa.fa-question-circle
          %li
            = link_to destroy_user_session_path, class: "logout", method: :delete, title: "Logout", class: 'has_bottom_tooltip', 'data-original-title' => 'Logout'  do
              %i.fa.fa-sign-out

= render 'shared/outdated_browser'
